/.smex-items
/ac-comphist.dat
/auto-save-list/
/backups/
/custom.el
/elpa/
/eshell/
/ido.last
/recentf
/smex-items
/url/
/projectile-bookmarks.eld
/irony/
/tldr/
tramp
/var/
.org-id-locations
/.emacs.desktop.lock
/abbrev_defs
/emacs-desktop
/network-security.data
/semanticdb/
